<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.CharacterDataMapper">

    <select id="getCharacterDataById" parameterType="String" resultType="xmu.vis.domain.CharacterData">
        select 人员ID as personId, 人员姓名 as personName, 基本资料 as basicInfo, 履历 as resume, 其他 as otherInfo
        from 人物资料
        where 人员ID = #{personId};
    </select>

    <select id="getCharacterDataByName" parameterType="String" resultType="xmu.vis.domain.CharacterData">
        select 人员ID as personId, 人员姓名 as personName, 基本资料 as basicInfo, 履历 as resume, 其他 as otherInfo
        from 人物资料
        where 人员姓名 = #{personName};
    </select>

    <insert id="insertCharacterData" parameterType="xmu.vis.domain.CharacterData">
        insert into 人物资料(人员ID,人员姓名,基本资料,履历,其他) values (#{personId},#{personName},#{basicInfo},#{resume},#{otherInfo})
    </insert>

    <delete id="deleteCharacterData" parameterType="xmu.vis.domain.CharacterData">
        delete from 人物资料
        where 人员ID=#{personId} and 人员姓名=#{personName}
    </delete>

    <update id="modifyAttributeValue">
        update 人物资料
        <set>
            <foreach collection="map.entrySet()" index="key" item="value" separator=",">
                <if test="key != '人员ID' and value != null">
                    <if test="key != null">
                        ${key} = #{value}
                    </if>
                </if>
            </foreach>
        </set>
        where 人员ID = #{personId}
    </update>

    <select id="showAllColumns" resultType="String">
        SHOW FULL COLUMNS FROM 人物资料
    </select>
</mapper>