<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.EquipmentTreeMapper">

    <select id="getAllEquipmentTree" resultType="EquipmentTree">
        select 装备ID as equipmentId, 装备名称 as equipmentName, 装备类型ID as equipmentTypeId, 装备大类 as equipmentMajorType, 装备类型 as equipmentType, 装备用途 as equipmentPurpose, 基本情况 as baseInfo, 结构特征 as structureFeature, 系统组成 as systemComposition, 部署运用 as deployment, 未来发展 as development, 战技性能 as combatTechnicalPerformance, 基本参数 as basicParams, 动力性能 as dynamicPerformance, 特殊性能 as specialPerformance, 配备武器 as equippedWeapons, 指控系统 as commandAndControlSystem, 侦搜装备 as reconnaissanceEquipment, 电子战装备 as ewEquipment, 通信装备 as communicationEquipment, 敌我识别装备 as iffEquipment, 防护系统 as defenseSystem, 扩展名 as extensionName
        from 装备树
    </select>

    <select id="getEquipmentById" parameterType="String" resultType="EquipmentTree">
        select 装备ID as equipmentId, 装备名称 as equipmentName, 装备类型ID as equipmentTypeId, 装备大类 as equipmentMajorType, 装备类型 as equipmentType, 装备用途 as equipmentPurpose, 基本情况 as baseInfo, 结构特征 as structureFeature, 系统组成 as systemComposition, 部署运用 as deployment, 未来发展 as development, 战技性能 as combatTechnicalPerformance, 基本参数 as basicParams, 动力性能 as dynamicPerformance, 特殊性能 as specialPerformance, 配备武器 as equippedWeapons, 指控系统 as commandAndControlSystem, 侦搜装备 as reconnaissanceEquipment, 电子战装备 as ewEquipment, 通信装备 as communicationEquipment, 敌我识别装备 as iffEquipment, 防护系统 as defenseSystem, 扩展名 as extensionName
        from 装备树
        where 装备ID = #{equipmentId}
    </select>

    <select id="getEquipmentByName" parameterType="String" resultType="EquipmentTree">
        select 装备ID as equipmentId, 装备名称 as equipmentName, 装备类型ID as equipmentTypeId, 装备大类 as equipmentMajorType, 装备类型 as equipmentType, 装备用途 as equipmentPurpose, 基本情况 as baseInfo, 结构特征 as structureFeature, 系统组成 as systemComposition, 部署运用 as deployment, 未来发展 as development, 战技性能 as combatTechnicalPerformance, 基本参数 as basicParams, 动力性能 as dynamicPerformance, 特殊性能 as specialPerformance, 配备武器 as equippedWeapons, 指控系统 as commandAndControlSystem, 侦搜装备 as reconnaissanceEquipment, 电子战装备 as ewEquipment, 通信装备 as communicationEquipment, 敌我识别装备 as iffEquipment, 防护系统 as defenseSystem, 扩展名 as extensionName
        from 装备树
        where 装备名称 = #{equipmentName}
    </select>

    <insert id="insertEquipmentTree" parameterType="xmu.vis.domain.EquipmentTree">
        insert into 装备树(装备ID, 装备名称, 装备类型ID, 装备大类, 装备类型, 装备用途, 基本情况, 结构特征, 系统组成, 部署运用, 未来发展, 战技性能, 基本参数, 动力性能, 特殊性能, 配备武器, 指控系统, 侦搜装备, 电子战装备, 通信装备, 敌我识别装备, 防护系统, 扩展名)
        values (#{equipmentId}, #{equipmentName}, #{equipmentTypeId}, #{equipmentMajorType}, #{equipmentType}, #{equipmentPurpose}, #{baseInfo}, #{structureFeature}, #{systemComposition}, #{deployment}, #{development}, #{combatTechnicalPerformance}, #{basicParams}, #{dynamicPerformance}, #{specialPerformance}, #{equippedWeapons}, #{commandAndControlSystem}, #{reconnaissanceEquipment}, #{ewEquipment}, #{communicationEquipment}, #{iffEquipment}, #{defenseSystem}, #{extensionName})
    </insert>

    <delete id="deleteEquipmentTree" parameterType="String">
        delete from 装备树
        where 装备ID=#{equipmentId} and 装备名称 = #{equipmentName}
    </delete>

    <update id="insertAttributeName" parameterType="String">
        alter table 装备树
        add column ${attributeName} varchar(30)
    </update>

    <update id="deleteAttributeName" parameterType="String">
        alter table 装备树
        drop column ${attributeName}
    </update>

    <update id="modifyAttributeName">
        alter table 装备树
        change column ${oldAttributeName} ${newAttributeName} varchar(30)
    </update>

    <update id="modifyAttributeValue">
        update 装备树
        <set>
            <foreach collection="map.entrySet()" index="key" item="value" separator=",">
                <if test="key != '装备ID' and value != null">
                    ${key} = #{value}
                </if>
            </foreach>
        </set>
        where 装备ID = #{equipmentId}
    </update>

    <select id="showAllColumns" resultType="String">
        SHOW FULL COLUMNS FROM 装备树
    </select>
</mapper>