<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.EquipmentAllocationMapper">

    <select id="getAllEquipmentAllocation" resultType="EquipmentAllocation">
        select id, 单位类别 as unitType, 单位名称 as unidName, 单位ID as unitId, 装备类型 as equipmentType, 装备ID as equipmentId, 装备名称 as equipmentName, 编制数量 as establishmentQuantity, 实际数量 as actualQuantity, 备注 as remarks
        from 装备配赋
    </select>

    <select id="getEquipmentAllocationById" resultType="xmu.vis.domain.EquipmentAllocation">
        select id, 单位类别 as unitType, 单位名称 as unidName, 单位ID as unitId, 装备类型 as equipmentType, 装备ID as equipmentId, 装备名称 as equipmentName, 编制数量 as establishmentQuantity, 实际数量 as actualQuantity, 备注 as remarks
        from 装备配赋
        where id=#{requestId}
    </select>


    <select id="getEquipmentAllocationByUnitId" parameterType="String" resultType="EquipmentAllocation">
        select id, 单位类别 as unitType, 单位名称 as unidName, 单位ID as unitId, 装备类型 as equipmentType, 装备ID as equipmentId, 装备名称 as equipmentName, 编制数量 as establishmentQuantity, 实际数量 as actualQuantity, 备注 as remarks
        from 装备配赋
        where 单位ID = #{unitId}
    </select>

    <select id="getEquipmentAllocationByUnitName" parameterType="String" resultType="EquipmentAllocation">
        select id, 单位类别 as unitType, 单位名称 as unidName, 单位ID as unitId, 装备类型 as equipmentType, 装备ID as equipmentId, 装备名称 as equipmentName, 编制数量 as establishmentQuantity, 实际数量 as actualQuantity, 备注 as remarks
        from 装备配赋
        where 单位名称 = #{name}
    </select>

    <select id="getEquipmentAllocationByEquipmentId" parameterType="String" resultType="EquipmentAllocation">
        select id, 单位类别 as unitType, 单位名称 as unidName, 单位ID as unitId, 装备类型 as equipmentType, 装备ID as equipmentId, 装备名称 as equipmentName, 编制数量 as establishmentQuantity, 实际数量 as actualQuantity, 备注 as remarks
        from 装备配赋
        where 装备ID = #{equipmentId}
    </select>

    <select id="getEquipmentAllocationByEquipmentName" parameterType="String" resultType="EquipmentAllocation">
        select id, 单位类别 as unitType, 单位名称 as unidName, 单位ID as unitId, 装备类型 as equipmentType, 装备ID as equipmentId, 装备名称 as equipmentName, 编制数量 as establishmentQuantity, 实际数量 as actualQuantity, 备注 as remarks
        from 装备配赋
        where 装备名称 = #{equipmentName}
    </select>

    <delete id="deleteEquipmentAllocationByUnitIdEquipmentId" parameterType="String">
        delete from 装备配赋
        where 单位ID=#{unitId} and 装备ID=#{equipmentId}
    </delete>

    <update id="modifyAttributeValue">
        update 装备配赋
        <set>
            <foreach collection="map.entrySet()" index="key" item="value" separator=",">
                <if test="key != 'id' and value != null">
                    <if test="key != null">
                        ${key} = #{value}
                    </if>
                </if>
            </foreach>
        </set>
        where id = #{requestId}
    </update>
</mapper>