<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.NodeEntityTableMapper">

    <insert id="addNewNodeEntity" parameterType="xmu.vis.domain.NodeEntityTable">
        insert into NodeEntityTable (nodeEntityKey, nodeEntityTypeName, nodeEntityAttribute) values (#{nodeEntityKey}, #{nodeEntityTypeName}, #{nodeEntityAttribute})
    </insert>

    <select id="initGraph" resultType="xmu.vis.domain.NodeEntityTable">
        select * from NodeEntityTable LIMIT 0, 5;
    </select>

    <select id="getNodeEntityByNodeKey" parameterType="xmu.vis.domain.NodeEntityTable"
            resultType="xmu.vis.domain.NodeEntityTable">
        select * from NodeEntityTable where nodeEntityKey=#{nodeEntityKey};
    </select>
</mapper>