<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.NodeTypeTableMapper">

    <insert id="addNewNodeType" parameterType="xmu.vis.domain.NodeTypeTable">
        insert into NodeTypeTable (nodeTypeName, nodeTypeAttribute) values ( #{nodeTypeName}, #{nodeTypeAttribute})
    </insert>

    <select id="getAllNodeTypeNameAndAttribute" resultType="xmu.vis.domain.NodeTypeTable">
        select * from NodeTypeTable
    </select>




    <delete id="deleteNodeType" parameterType="String">
        delete from NodeTypeTable where nodetypename=#{nodeTypeName}
    </delete>

    <select id="getNodeAttributebyNodeTypeName" resultType="String" parameterType="String">
        select nodeTypeAttribute from NodeTypeTable where nodeTypeName = #{nodeTypeName}
    </select>


</mapper>