<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.PersonnelInformationMapper">

    <select id="getAllPersonnelInformation" resultType="PersonnelInformation">
        select 单位ID as unitId, 单位名称 as unitName, 人员ID as personId, 人员姓名 as personName, 职务 as militaryPost, 级职 as militaryRank, 时间 as date , 前任 as predecessor
        from 人事信息
    </select>

    <select id="getPersonnelInformationByUnitId" parameterType="String" resultType="PersonnelInformation">
        select 单位ID as unitId, 单位名称 as unitName, 人员ID as personId, 人员姓名 as personName, 职务 as militaryPost, 级职 as militaryRank, 时间 as date , 前任 as predecessor
        from 人事信息
        where 单位ID = #{unitId}
    </select>

    <select id="getPersonnelInformationByUnitName" parameterType="String" resultType="PersonnelInformation">
        select 单位ID as unitId, 单位名称 as unitName, 人员ID as personId, 人员姓名 as personName, 职务 as militaryPost, 级职 as militaryRank, 时间 as date , 前任 as predecessor
        from 人事信息
        where 单位名称 = #{unitName}
    </select>

    <select id="getPersonnelInformationByPersonName" parameterType="String" resultType="PersonnelInformation">
        select 单位ID as unitId, 单位名称 as unitName, 人员ID as personId, 人员姓名 as personName, 职务 as militaryPost, 级职 as militaryRank, 时间 as date , 前任 as predecessor
        from 人事信息
        where 人员姓名 = #{personName}
    </select>

</mapper>