<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.RelationTupleMapper">

    <select id="getAllRelation" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
    </select>

    <select id="getAllRelationTypeSet" resultType="String">
        select 关系名称 as relationName from 关系三元组
    </select>

    <select id="getRelationByChildId" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
         where 子节点ID=#{child_Id}
    </select>

    <select id="getRelationByFatherId" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
        where 父节点ID=#{father_Id}
    </select>

    <select id="getRelationByChildName" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
        where 子节点名称=#{child_Name}
    </select>

    <select id="getRelationByFatherName" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
        where 父节点名称=#{father_Name}
    </select>

    <select id="getRelationByFatherIdandChildId" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
        where 父节点ID=#{father_Id} and 子节点ID=#{child_Id}
    </select>

    <select id="getRelationByFatherNameandChildName" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
        where 父节点名称=#{father_Name} and 子节点名称=#{child_Name}
    </select>

    <select id="checkRelationTupleexist" parameterType="xmu.vis.domain.RelationTuple" resultType="xmu.vis.domain.RelationTuple">
        select 父节点ID as fatherId, 父节点名称 as fatherName, 子节点ID as childId, 子节点名称 as childName, 关系名称 as relationName from 关系三元组
        where 父节点ID=#{fatherId} and 父节点名称=#{fatherName} and 子节点ID=#{childId} and 子节点名称=#{childName} and 关系名称=#{relationName}
    </select>

    <insert id="addNewRelation" parameterType="xmu.vis.domain.RelationTuple">
        insert into 关系三元组(父节点ID,父节点名称,子节点ID,子节点名称,关系名称) values (#{fatherId},#{fatherName},#{childId},#{childName},#{relationName})
    </insert>

    <delete id="deleteExistRelation" parameterType="xmu.vis.domain.RelationTuple">
        delete from 关系三元组 where 父节点ID=#{fatherId} and 父节点名称=#{fatherName} and 子节点ID=#{childId} and 子节点名称=#{childName} and 关系名称=#{relationName}
    </delete>

    <update id="updateRelation" >
            update 关系三元组 set 关系名称=#{newRelationName}
            where 父节点ID=#{oldRelationTuple.fatherId} and 父节点名称=#{oldRelationTuple.fatherName} and 子节点ID=#{oldRelationTuple.childId} and 子节点名称=#{oldRelationTuple.childName} and 关系名称=#{oldRelationTuple.relationName}
    </update>

    <select id="showAllColumns" resultType="String">
        SHOW FULL COLUMNS FROM 关系三元组
    </select>
</mapper>