<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.RelationTupleTableMapper">

    <insert id="addNewRelationTuple" parameterType="xmu.vis.domain.RelationTupleTable">
        insert into RelationTupleTable (fatherNodeKey, childNodeKey, relationTypeName, relationAttribute) values (#{fatherNodeKey}, #{childNodeKey}, #{relationTypeName}, #{relationAttribute})
    </insert>

    <select id="getRelationTupleFromFatherNodeKey" parameterType="xmu.vis.domain.RelationTupleTable"
            resultType="xmu.vis.domain.RelationTupleTable">
        select * from RelationTupleTable where fatherNodeKey=#{fatherNodeKey}
    </select>
    
    <select id="getRelationTupleFromChildNodeKey" parameterType="xmu.vis.domain.RelationTupleTable"
            resultType="xmu.vis.domain.RelationTupleTable">
        select * from RelationTupleTable where childNodeKey=#{childNodeKey}
    </select>

</mapper>