<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.vis.mapper.UnitSequenceMapper">

    <select id="getAllUnitSequence" resultType="UnitSequence">
        select 单位ID as unitId, PID as pid, 单位全称 as unitFullName, 单位名称 as unitName, 属性 as attribute, 性质 as nature, 军种 as services, 兵种 as arms, 类别ID as categoryId, 类别 as category, 指挥关系 as commandRelationship, 战区 as warZone, 营区ID as campId, 营区 as camp, 任务 as task, 具体任务 as concreteTasks, 编制 as establishment, 平时驻地 as peacetimeGarrison, 平时驻地经度 as peacetimeGarrisonLongitude, 平时驻地纬度 as peacetimeGarrisonLatitude, 战时驻地 as wartimeGarrison, 战时驻地经度 as wartimeGarrisonLongitude, 战时驻地纬度 as wartimeGarrisonLatitude, 成立日期 as establishmentDate, 裁撤日期 as abolitionDate, 基本情况 as baseInfo, 详细情况 as detailedInfo, 备注1 as remarks1, 备注2 as remarks2
        from 单位序列
    </select>

    <select id="getUnitSequenceById" parameterType="String" resultType="xmu.vis.domain.UnitSequence">
        select 单位ID as unitId, PID as pid, 单位全称 as unitFullName, 单位名称 as unitName, 属性 as attribute, 性质 as nature, 军种 as services, 兵种 as arms, 类别ID as categoryId, 类别 as category, 指挥关系 as commandRelationship, 战区 as warZone, 营区ID as campId, 营区 as camp, 任务 as task, 具体任务 as concreteTasks, 编制 as establishment, 平时驻地 as peacetimeGarrison, 平时驻地经度 as peacetimeGarrisonLongitude, 平时驻地纬度 as peacetimeGarrisonLatitude, 战时驻地 as wartimeGarrison, 战时驻地经度 as wartimeGarrisonLongitude, 战时驻地纬度 as wartimeGarrisonLatitude, 成立日期 as establishmentDate, 裁撤日期 as abolitionDate, 基本情况 as baseInfo, 详细情况 as detailedInfo, 备注1 as remarks1, 备注2 as remarks2
        from 单位序列
        where 单位ID = #{unitId}
    </select>

    <select id="getUnitSequenceByFullName" parameterType="String" resultType="UnitSequence">
        select 单位ID as unitId, PID as pid, 单位全称 as unitFullName, 单位名称 as unitName, 属性 as attribute, 性质 as nature, 军种 as services, 兵种 as arms, 类别ID as categoryId, 类别 as category, 指挥关系 as commandRelationship, 战区 as warZone, 营区ID as campId, 营区 as camp, 任务 as task, 具体任务 as concreteTasks, 编制 as establishment, 平时驻地 as peacetimeGarrison, 平时驻地经度 as peacetimeGarrisonLongitude, 平时驻地纬度 as peacetimeGarrisonLatitude, 战时驻地 as wartimeGarrison, 战时驻地经度 as wartimeGarrisonLongitude, 战时驻地纬度 as wartimeGarrisonLatitude, 成立日期 as establishmentDate, 裁撤日期 as abolitionDate, 基本情况 as baseInfo, 详细情况 as detailedInfo, 备注1 as remarks1, 备注2 as remarks2
        from 单位序列
        where 单位全称 = #{unitFullName}
    </select>

    <select id="getUnitSequenceByName" parameterType="String" resultType="UnitSequence">
        select 单位ID as unitId, PID as pid, 单位全称 as unitFullName, 单位名称 as unitName, 属性 as attribute, 性质 as nature, 军种 as services, 兵种 as arms, 类别ID as categoryId, 类别 as category, 指挥关系 as commandRelationship, 战区 as warZone, 营区ID as campId, 营区 as camp, 任务 as task, 具体任务 as concreteTasks, 编制 as establishment, 平时驻地 as peacetimeGarrison, 平时驻地经度 as peacetimeGarrisonLongitude, 平时驻地纬度 as peacetimeGarrisonLatitude, 战时驻地 as wartimeGarrison, 战时驻地经度 as wartimeGarrisonLongitude, 战时驻地纬度 as wartimeGarrisonLatitude, 成立日期 as establishmentDate, 裁撤日期 as abolitionDate, 基本情况 as baseInfo, 详细情况 as detailedInfo, 备注1 as remarks1, 备注2 as remarks2
        from 单位序列
        where 单位名称 = #{unitName}
    </select>

    <insert id="insertUnitSequence" parameterType="String">
        insert into 单位序列(单位ID, PID, 单位全称, 单位名称, 属性, 性质, 军种, 兵种, 类别ID, 类别, 指挥关系, 战区, 营区ID, 营区, 任务, 具体任务, 编制, 平时驻地, 平时驻地经度, 平时驻地纬度, 战时驻地, 战时驻地经度, 战时驻地纬度, 成立日期, 裁撤日期, 基本情况, 详细情况, 备注1, 备注2)
        values (#{unitId}, #{pid}, #{unitFullName}, #{unitName}, #{attribute}, #{nature}, #{services}, #{arms}, #{categoryId}, #{category}, #{commandRelationship}, #{warZone}, #{campId}, #{camp}, #{task}, #{concreteTasks}, #{establishment}, #{peacetimeGarrison}, #{peacetimeGarrisonLongitude}, #{peacetimeGarrisonLatitude}, #{wartimeGarrison}, #{wartimeGarrisonLongitude}, #{wartimeGarrisonLatitude}, #{establishmentDate}, #{abolitionDate}, #{baseInfo}, #{detailedInfo}, #{remarks1}, #{remarks2})

    </insert>

    <delete id="deleteUnitSequence" parameterType="String">
        delete from 单位序列
        where 单位全称 = #{unitFullName}
    </delete>

    <update id="insertAttributeName" parameterType="String">
        alter table 单位序列
        add column ${attributeName} varchar(30)
    </update>

    <update id="deleteAttributeName" parameterType="String">
        alter table 单位序列
        drop column ${attributeName}
    </update>

    <update id="modifyAttributeName">
        alter table 单位序列
        change column ${oldAttributeName} ${newAttributeName} varchar(30)
    </update>

    <update id="modifyAttributeValue">
        update 单位序列
        <set>
            <foreach collection="map.entrySet()" index="key" item="value" separator=",">
                <if test="key != '单位ID' and value != null">
                <if test="key != null">
                    ${key} = #{value}
                </if>
                </if>
            </foreach>
        </set>
        where 单位ID = #{unitId}
    </update>



</mapper>